@value myblue: #0070f3;

/* IGNORE THSI ONE USE buildButton INSEAD */
.buttons button {
    padding: 10px 20px;
    font-family: 'inter', sans-serif;
    font-size: 20px;
    background-color: myblue;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-right: 20px;
    margin-top: 20px;
    background: myblue;

    &:hover {
        background-color: myblue;
    }
}

/* IGNORE THSI ONE USE buildButton INSEAD */

.buildButton {
    background: myblue;
    color: white;
    font-weight: bold;
    border: none;
    border-radius: 20%;

    width: 80px;
    height: 40px;

    cursor: pointer;

    margin: 10px;

    align-items: center;
    justify-content: center;
}

.cardContainer {
    display: flex;
    align-items: center;
    margin: 10px;
    flex: column;
    border: 1px solid #e0e0e0;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);

    padding: 10px;
}

.reqContainer {
    display: flex;
    align-items: center;
    margin: 10px;
    flex: column;
    border: 1px solid #e0e0e0;
    border-radius: 8px;

    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);

    padding: 10px;
    flex-direction: column;
}

.flexRow {
    display: flex;
    justify-content: center;
}

.text {
    color: black;
    margin-bottom: 70px;
    text-align: left;
    justify-content: center;
    font-family: 'inter', sans-serif;
    flex: 1;
    margin-right: 10px;
}

.reqtext {
    display: flex;
    /* Enable flexbox for text container */
    flex-direction: column;
    /* Stack text elements vertically */
    align-items: center;
    /* Center text elements horizontally */
    text-align: center;
    /* Center text alignment */
}

.cardImg {
    margin: 20px;
    justify-content: center;
    align-items: center;
}