.cardContainer {
    display: flex;
    align-items: center;
    margin-bottom: 10px;

    border: 1px solid #e0e0e0;
    border-radius: 8px;
    background-color: white;
    /* Optional: background color for the card */
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.text {
    color: black;
    margin-bottom: 70px;
    text-align: left;
    justify-content: center;
    font-family: 'inter', sans-serif;
    flex: 1;
    margin-right: 10px;
}

.cardImg {
    margin: 20px;

    justify-content: center;
    align-items: center;
}