@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;700&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Ubuntu+Mono:wght@400;700&display=swap');

@value bg: white;
@value myblue: #0070f3;
/* can use this for nav bar (not home page) transform: translateY(-5px); */


.whitebg {
    background-color: white;
}

.aboutSection {
    align-items: center;
    justify-content: center;
    background-color: bg;
    color: black;
    font-size: 18px;
    font-family: 'Inter', sans-serif;
}


.bigContainer {
    background-color: bg;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

/* Header Container Styles */
.headerContainer {
    padding-top: 40px;
    background-color: bg;
    display: flex;
    align-items: center;
    justify-content: center;
}

/* Title Styles */
.title {
    font-family: 'Ubuntu Mono', monospace;
    /* font-style: italic; */
    font-size: 120px;
    font-weight: bold;
    color: black;
}

.sectitle {
    font-family: 'Ubuntu Mono', monospace;
    text-align: center;
    /* font-style: italic; */
    margin-top: 40px;
    font-size: 30px;
    font-weight: bold;
    color: black;
    margin-bottom: 10px;
}
.sectitleBottom {
    font-family: 'Ubuntu Mono', monospace;
    text-align: center;
    /* font-style: italic; */
    margin-top: 40px;
    font-size: 30px;
    color: black;
    margin-bottom: 500px;
}

.desc {
    margin-bottom: 80px;
    font-family: 'inter', sans-serif;
    font-size: 16px;
    font-style: italic;
    color: black;
}

/* Navbar Styles */
.navbar {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px 40px;
    background-color: bg;
}

.login {
    list-style-type: none;
    margin-top: 80px;
    font-family: 'inter', sans-serif;
    font-size: 20px;
    color: black;
    text-decoration: underline;

    &:hover {
        color: myblue;
    }
}

.menuItems {
    display: flex;
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.menuItems li {
    margin-left: 20px;
}

.menuItems a {
    font-family: 'inter', sans-serif;
    font-size: 24px;
    color: black;
    text-decoration: none;

    &:hover {
        color: myblue;
    }
}

/* animation for logo */
@keyframes bounce {

    0%,
    100% {
        transform: (translateY(0));
        /*start and end at same pos*/
    }

    50% {
        transform: (translateY(-5px));
    }
}

.logo {
    width: 100px;
    height: 100px;
    margin-right: 40px;
    animation: bounce ease-in-out infinite;
}

.pcitems {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-top: 40px;
}




.pcitems ul {
    list-style-type: none;
    padding: 0;
    margin-bottom: 15px;
    font-family: 'inter', sans-serif;
}

.pcitems li {
    color: black;
    margin-bottom: 15px;
    font-family: 'inter', sans-serif;
}