@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;700&display=swap');
/* inter :)  */
@value primary: #1c3dc9;
@value primaryColor: black;
@value darkPrimaryColor: #31bcb1;
@value bg: #d4d4d4;
@value secondaryColor: #08a0ff;

/* body {
    font-family: 'Inter', sans-serif;
    margin: 0;
    background-color: #f9f9f9; 
} */

.bigContainer {
    background-color: bg;
}


.logo {
    width: 100px;
    height: 100px;
}

/* Header Container Styles */
.headerContainer {
    background-color: bg;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 20px 0;
}

/* Title Styles */
.title {
    font-size: 120px;
    font-weight: bold;
    color: black;
}

/* Navbar Styles */
.navbar {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px 40px;
    background-color: bg;
}

.menuItems {
    display: flex;
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.menuItems li {
    margin-left: 20px;
}

.menuItems a {
    font-size: 24px;
    color: black;
    text-decoration: none;
}

.menuItems a:hover {
    color: #0070f3;
}