.aboutSection {
    background-color: white;
    padding: 50px 20px;
    margin-top: 50px;
}

.aboutSection h2 {
    margin-bottom: 20px;
}

.abtHeader {
    font-family: 'inter', sans-serif;
    font-size: 16px;
    font-style: italic;
    color: black;
}

.bodytext {
    color: black;
    margin-left: 150px;
    margin-right: 150px;
    margin-bottom: 70px;
    text-align: center;
    justify-content: center;
    font-family: 'inter', sans-serif;
}

.hidden {
    opacity: 0;
    transform: translateY(20px);
    /* Slide down effect */
}

.visible {
    opacity: 1;
    transform: translateY(0);
    /* Reset pos */
}